.widget-container{
    z-index: 1;
}


.widget-container.hide{
    display: none;
}

.widget{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    border-radius: 50px;
    height: 50px;
    background-color: white;
}
