/* src/Login.css */
.login-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .slide-to-unlock {
    padding: 10px;
    background-color: #777;
    color: #fff;
    user-select: none;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .slide-to-unlock:hover {
    background-color: #555;
  }
  
  .unlocked .slide-to-unlock {
    display: none;
  }
  